<div class="defaulttemplate">
<table class="table bg-success text-white" style="max-width: 500px;">
<tbody><tr class="lastrow">
<td class="template-field cell c0" style="">Wähle hier aus:</td>
<td class="template-token cell c1 lastcol" style=""><span class="" style="font-size: xx-large;">[[Auswahl]]</span></td>
</tr>
</tbody>
</table>
</div>