<div class="defaulttemplate"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="">
<td class="template-field cell c0" style="">Auswahl: </td>
<td class="template-token cell c1 lastcol" style="">[[Auswahl]]</td>
</tr>
<tr class="searchcontrols">
<td class="template-field cell c0" style="">Vorname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##firstname##</td>
</tr>
<tr class="searchcontrols lastrow">
<td class="template-field cell c0" style="">Nachname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##lastname##</td>
</tr>
</tbody>
</table>
</div>