];

function countDuplicates(obj, num){
  obj[num] = (++obj[num] || 1);
  return obj;
}
var answer = array.reduce(countDuplicates, {});
var uniqueNums = Object.keys(answer);
var countOfNums = Object.keys(answer).map(key => answer[key]);
var uniqueNums2 = Object.keys(answer).map(key => +key);

var sounds = uniqueNums;
const barchart = document.getElementById("links");

sounds.forEach((sound, index) => {
    var counts = countOfNums[index];
    const container = document.createElement("div");
    container.classList.add("bar");
    container.style.width = counts*100/array.length + "%"
    container.style.backgroundColor = '#'+ Math.floor(Math.random()*16777215).toString(16);
    container.style.border = "1px solid #000";
    container.style.borderLeft = "0px solid #000";
    container.style.order = counts
    container.innerHTML = '<div class="legend">' + sound + ': <span class="bartop">' + counts + '</span></div>';
  barchart.appendChild(container);
});
  document.getElementById('counter').innerHTML = array.length ;
    </script>
<br><p style="font-size: x-large
;text-align:center;margin-top:40px;"><i class="fa fa-users"></i> <span id="counter"></span></p>

<script>document.getElementById('counter').innerHTML = array.length ;</script>
<script>
  const exitBtn = document.getElementById('compress-icon');
  
  exitBtn.addEventListener('click', ()=>{
      if (document.fullscreenElement) {
          document.exitFullscreen();
      }
  });</script>
